<%= form_with(model: @user, local: true) do |e| %>
<div class="bg-white shadow px-4 py-5 sm:rounded-lg sm:p-6">
    <%= render "shared/errors", object: user %>
    <div class="md:grid md:grid-cols-3 md:gap-6">
      <div class="md:col-span-1">
        <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information</h3>
        <p class="mt-1 text-sm text-gray-500">
          Use a permanent address where you can receive mail.
        </p>
      </div>
      <div class="mt-5 md:mt-0 md:col-span-2">
        <form action="#" method="POST">
          <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
              <%= e.label :name  ,class: "block text-sm font-medium text-gray-700" %>
              <%= e.text_field :name ,class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>

            <div class="col-span-6 sm:col-span-3">
              <%= e.label :email  ,class: "block text-sm font-medium text-gray-700" %>
              <%= e.email_field :email, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>

            <div class="col-span-6 sm:col-span-4">
              <%= e.label :password  ,class: "block text-sm font-medium text-gray-700" %>
              <%= e.password_field :password ,class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>

            <div class="col-span-6">
              <%= e.label :password_confirmation  ,class: "block text-sm font-medium text-gray-700" %>
              <%= e.password_field :password_confirmation ,class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
            </div>
          </div>
           <div class="pt-5">
          <div class="flex justify-end">  
            <%= link_to "Cancel", root_path, class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-400 focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 mr-4" %>
            <%= e.submit class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600  focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
<% end %>
