<section id="event-details">
  <div class="mt-12 flex justify-center">
    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-white shadow-md overflow-hidden sm:rounded-lg w-96">
      <div class="px-4 py-5 sm:px-6">
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Event Information
        </h3>
        <p class="mt-1 max-w-2xl text-sm text-gray-500">
          Event details and description.
        </p>
      </div>
      <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
        <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
              Event name
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              <%=@event.name %>
            </dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
              Location event
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              <%=@event.location %>
            </dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
              Email event
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              -
            </dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
              Price event
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              <%= price(@event) %>
            </dd>
          </div>
          <div class="sm:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
              Capacity event
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              <%= @event.capacity %>
            </dd>
          </div>
          <div class="sm:col-span-2">
            <dt class="text-sm font-medium text-gray-500">
              Description event
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              <%=@event.description %>
            </dd>
          </div>
          <div class="sm:col-span-2">
            <dt class="text-sm font-medium text-gray-500 cursor-pointer">
              <button class="bg-blue-900 px-4 py-2 rounded-lg shadow">
                <%= register_or_sold_out(@event) %>
              </button>
            </dt>
          </div>
          <div class="sm:col-span-2">
            <dt class="text-sm font-medium text-gray-500 cursor-pointer">
              <%= link_to "See more who register too", event_registrations_path(@event) %>
            </dt>
          </div>
        </dl>
      </div>
      <button class="bg-blue-900 px-4 py-2 ml-4 my-4 rounded-lg shadow">
        <%= link_to "Edit Event", edit_event_path(@event), class: "text-sm text-white" %>
      </button>
      <button class="bg-blue-900 px-4 py-2 ml-4 my-4 rounded-lg shadow">
        <%= link_to "Delete", @event, class: "text-sm text-white", method: :delete, data: {confirm: "Are you sure ?"} %>
      </button>

    </div>

  </div>
</section>
